<% if current_user %>

<div id="index">
<nav id="subNav" class="navbar navbar-default">
  <div class="container">
   
        <h1 class="navbar-text">253 Quotes </h1>

 <ul class="nav navbar-nav">       
    <!-- dropdown for time frame -->
    <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span id="sort-time">Sort by: <%= params[:view] %></span><span class="caret"></span></a>
          <ul id="dropdown-time" class="dropdown-menu">
            <li><%= link_to "All", params.merge(:view => "all")%></li>
            <li><%= link_to "Today", params.merge(:view => "today")%></li>
            <li><%= link_to "Weekly", params.merge(:view => "weekly")%></li>
            <li><%= link_to "Monthly", params.merge(:view => "monthly")%></li>
            <li><a href="#">Year to Date</a></li>
          </ul>
        </li>

  </ul>

    <a href="/quotes/new"><button class="btn btn-primary btn-default navbar-btn color-white navbar-right"><h4>Add</h4></button></a>

  </div>
</nav>
  
<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <div class="panel panel-default">
        <div class="panel-heading">Today Sales</div>
        <div class="panel-body">
          <h1 class="center"><%= "$#{@daily_sales_amount}" %></h1>
        </div>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="panel panel-default">
        <div class="panel-heading">Today Quotes</div>
        <div class="panel-body"><h1 class="center"><%= "$#{@daily_quotes_amount}" %></h1></div>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="panel panel-default">
        <div class="panel-heading">Weekly Sales</div>
        <div class="panel-body"><h1 class="center"><%= "$#{@weekly_sales_amount }" %></h1></div>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="panel panel-default">
        <div class="panel-heading">Weekly Quotes</div>
        <div class="panel-body"><h1 class="center"><%= "$#{@weekly_quotes_amount }" %></h1></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <table class="table table-hover">
        <tr>
          <th>Date</th>
          <th>QN</th>
          <th>By</th>
          <th>Customer</th>
          <th>Amount</th>
          <th>Type</th>
          <th>Due<br>Date</th>
          <th>Location</th>
          <th>Note</th>
          <th>Confirm</th>

        </tr>
        <% @sales.each do | sale | %>

        <tr>
    
          <td><%= Date.parse(sale.quote_date.to_s).strftime("%m/%d") %></td>
     
          <td><%= sale.quote_number %></td>
          <td><%=sale.by %></td>
          <td><%=sale.customer %></td>
          <td><%="$#{sale.quote_amount}" %></td>
          <td><%=sale.product_type %></td>
          <td>
              <% if sale.due_date %>
                <%= Date.parse(sale.due_date.to_s).strftime("%m/%d") %>
              <% end %>  
          </td>
          <td>
            <% if sale.address %>
            <!-- https://www.google.com/maps/dir/253+E+Harris+Ave,+South+San+Francisco,+CA+94080/919+Athens+St,+CA+94112,+USA -->
              <%= link_to "#{sale.address} #{sale.state} #{sale.zip}","https://www.google.com/maps/dir/253+E+Harris+Ave,+South+San+Francisco,+CA+94080/#{sale.address},+#{sale.state}+#{sale.zip}",target: "_blank" %>
            <% else %>
            <td><%= sale.state sale.zip %></td>  
            <% end %>  
          </td>
          <td><%=sale.note %></td>
          <td>
            <%= link_to "/quotes/#{sale.id}/edit?status=sales" do %>
            <button class="btn btn-default">sales</button>
            <% end %>
          </td>
        </tr>

        <% end %>
      </table>
    </div>
  </div>
</div>
</div>
<% end %>

