<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Add New Job </h1>

        <%= form_tag '/inventories', method: :post do %>
          <table class="table table-hover">
      <tr>
        <td>
          <div class="input-group">
          <%= label_tag :order_date %>
          </div>
        </td>
        <td><%= text_field_tag :order_date%></td>
      </tr>
      
      <tr>
        <td><%= label_tag :progress %></td>
        <td><%= text_field_tag :progress , @add_price %></td>
      </tr>

      <tr>
        <td><%= label_tag :order_list %></td>
        <td><%= text_field_tag :order_list %></td>
      </tr>

      <tr>
        <td><%= label_tag :due_date %></td>
        <td><%= text_field_tag :due_date %></td>
      </tr>

      <tr>
        <td colspan="2"><%= submit_tag "Add Job" %></td>
      </tr>
      <% end %>

    </table>