<% if current_user %>
<div id="index">
<nav id="subNav" class="navbar navbar-default">
  <div class="container">
   
        <h1 class="navbar-text">253 Sales </h1>

 <ul class="nav navbar-nav">       
<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sort by: Dropdown<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">All</a></li>
            <li><a href="#">Today</a></li>
            <li><a href="#">Weekly</a></li>
            <li><a href="#">Monthly</a></li>
            <li><a href="#">Year to Date</a></li>
          </ul>
        </li>
        </ul>

    <a href="/sales/new"><button class="btn btn-primary btn-default navbar-btn color-white navbar-right"><h4>Add</h4></button></a>

  </div>
</nav>
  
<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <div class="panel panel-default">
        <div class="panel-heading">Today Sales</div>
        <div class="panel-body">
          
          <h1><%= "$#{@sale_today}" %></h1>
        </div>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="panel panel-default">
        <div class="panel-heading">Today Quotes</div>
        <div class="panel-body">$1000.00</div>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="panel panel-default">
        <div class="panel-heading">Weekly Sales</div>
        <div class="panel-body">$1000.00</div>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="panel panel-default">
        <div class="panel-heading">Weekly Quotes</div>
        <div class="panel-body">$1000.00</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <table class="table table-hover">
        <tr>
          <th>Date</th>
          <th>Sale No.</th>
          <th>By</th>
          <th>Customer</th>
          <th>Amount</th>
          <th>Quote No.</th>
          <th>Amount</th>
          <th>Type</th>
          <th>Due Date</th>
          <th>Payment</th>

        </tr>
        <% @sales.each do | sale | %>

        <tr>
          <%=  %>
          <td><%= Date.parse(sale.date.to_s) %></td>
          <td><%=sale.sale_number %></td>
          <td><%=sale.by %></td>
          <td><%=sale.customer %></td>
          <td><%="$#{sale.amount}" %></td>
          <td><%=sale.quote_number %></td>
          <td><%=sale.product_type %></td>
          <td><%=sale.due_date %></td>
          <td><%=sale.payment %></td>
          <td><%=sale.note %></td>
        </tr>

        <% end %>
      </table>
    </div>
  </div>
</div>
</div>
<% end %>