<!DOCTYPE html>
<html>
<head>
  <title>InventoryApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">253INC</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Quotes <span class="badge">42</span></a></li>
        <li class="active"><a href="/sales?view=all&amp;order_type=all">Sales <span class="sr-only">(current)</span> <span class="badge">42</span></a></li>
        <li><a href="/">Working <span class="badge">42</span></a></li>
        <li><a href="/">Completed <span class="badge">42</span></a></li>
        <!-- <li><a href="/">Inventory</a></li> -->
        
      </ul>
      <% if current_user %>
      <p class="navbar-text navbar-right">Welcome, <%= current_user.email %>
      <%= link_to "Sign Out", "/users/sign_out", method: :delete %></p>
      <%end%>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<%= yield %>

</body>
</html>
